<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/fct.jpg" width="100" height="50" class="d-inline-block" alt="" />
    IPM 2020/2021</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#project">Our Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">Our Team</a>
      </li>
    </ul>
  </div>
</nav>

<img src="../assets/brr.png" class="img-fluid" alt="Responsive image" />

<div class="container-fluid" id="project">
  <h2>Our Project</h2>
  <p>
    Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O
    Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde
    o ano de 1500, quando uma misturou os caracteres de um texto para criar um
    espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o
    salto para a tipografia electrónica, mantendo-se essencialmente inalterada.
    Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset,
    que continham passagens com Lorem Ipsum, e mais recentemente com os
    programas de publicação como o Aldus PageMaker que incluem versões do Lorem
    Ipsum.
  </p>
</div>

<div class="container-fluid" id="team">
  <h2>Our Team Members</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/carol.jpeg" class="image-cropper profile-pic" alt="Avatar" />
          <h3>Carolina Lopes 53657</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/16jHfaJ7Iv7YlbBESF9FO-pSI4cOhMvbz/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/sofia.jpg" class="image-cropper profile-pic" alt="Avatar" />
          <h3>Sofia Rocha 52315</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/16jHfaJ7Iv7YlbBESF9FO-pSI4cOhMvbz/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/ggg.jpg" class="image-cropper profile-pic" alt="Avatar" />
          <h3>Xavier Pacheco 52748</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/16jHfaJ7Iv7YlbBESF9FO-pSI4cOhMvbz/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/joao.png" class="image-cropper profile-pic" alt="Avatar" />
          <h3>João Reis 48157</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/16jHfaJ7Iv7YlbBESF9FO-pSI4cOhMvbz/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer text-center py-3" id="footer">
  <h5 class="text-uppercase">IPM 2020/2021</h5>
  <p>
    This website was made by us from scratch. You can Fork it @<a
      href="https://github.com/XavierPPacheco/IPM">Github</a>
    for free :-D
  </p>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://github.com/CarolinaMagLopes"> Carolina Lopes; </a>
    <a href="https://github.com/sa-rocha">Sofia Rocha; </a><a href="https://github.com/XavierPPacheco">Xavier
      Pacheco; </a> João Reis
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->