<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/fct.jpg" width="100" height="50" class="d-inline-block" alt="" />
    IPM 2020/2021</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#project">Our Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">Our Team</a>
      </li>
    </ul>
  </div>
</nav>

<img src="../assets/brr.png" class="img-fluid" alt="Responsive image" />


  <div class="container-fluid" id="project" >
    <h2>Bubbles Express</h2>
    <p>
      Our app consists of an uber-inpired laundry cleaning service. You put your laundry in a basket and put it in the
      designated drop of point where a pickup truck will pick it up, put in the dry cleaners and return it promptly.
      Its main users are threefold: students that either don’t have time or don’t know how to do their laundry,
      city-residents that don’t have the proper conditions to do so and people that just want to not have the work. Not
      mutually exclusive of course!

    </p>
   
  </div>
<div class="container-fluid" id ="phaseOne">
  <h2 style="text-align: left; margin-left: 5%;"> Phase 1</h2>
    <hr>
  <a href="https://drive.google.com/file/d/1JArIMcIQSNYWuK4Yjo1RQ0ZCbJ4HBb4t/view?usp=sharing"> <img src="../assets/bg.jpeg" alt="1st Stage Report" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="1st Stage">
  </a>
  <a href="https://drive.google.com/file/d/10jJpgfdTOHz_ncAQzWOAcFf7edUXm-J-/view?usp=sharing"> <img src="../assets/bg.jpeg" alt="1st Stage Report" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="2nd Stage">
  </a>
</div>
<div class="container-fluid" id="team">
  <h2>Our Team Members</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/carol.jpeg" class="image-cropper profile-pic" alt="Avatar" />
          <h3>Carolina Lopes 53657</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/1sxvqLUni2aY_AdePIPh0Z3EPoWSuVnc2/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/sofia.jpg" class="image-cropper profile-pic" alt="Avatar" />
          <h3>Sofia Rocha 52315</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/1TO41s5YEJxnWzsdZopBCCvlfyqNn9Scu/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/ggg.jpg" class="image-cropper profile-pic" alt="Avatar" />
          <h3>Xavier Pacheco 52748</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/1Ndo9CfKE1BthmATaS6uakzIcu0an-12g/view?usp=sharing">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg">
        <div class="team-member">
          <img src="../../assets/joao.png" class="image-cropper profile-pic" alt="Avatar" />
          <h3>João Reis 48157</h3>
          <div class="row">
            <div class="col-md">
              <a href="https://drive.google.com/file/d/1AWQGx9cvvL43bpH86AfDLh6MnxnLIXu6/view">
                <button class="btn">
                  <i class="fa fa-download"></i> Assignment #1
                </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer text-center py-3" id="footer">
  <a class="text-uppercase" href="http://ctp.di.fct.unl.pt/~tir/IPM/">IPM 2020/2021</a>
  <p>
    This website was made by us from scratch. You can Fork it @<a
      href="https://github.com/XavierPPacheco/IPM">Github</a>
    for free :-D
  </p>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://github.com/CarolinaMagLopes"> Carolina Lopes; </a>
    <a href="https://github.com/sa-rocha">Sofia Rocha; </a><a href="https://github.com/XavierPPacheco">Xavier Pacheco;
    </a> <a href="https://github.com/jcrreis">João Reis</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->